* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 60px;
}

.form {
  background-color: white;
  width: 900px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  padding: 32px;
}

label:not(.tipo-documento div label) {
  display: block;
  margin-bottom: 4px;
}

.container-tipo-documento,
.codigo-invoice {
  flex-grow: 1;
  flex-basis: 408px;
}

.codigo-invoice input {
  background-color: #f1f1f1;
}

.dados-invoice {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.dados-invoice input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 6px;
}

.tipo-documento {
  display: flex;
  gap: 40px;
}

input[type="radio" i] {
  appearance: unset;
  background-color: #002949;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
}

input[type="radio" i]:checked::after {
  background-color: white;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  top: 0;
  right: 0;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
}

.tipo-documento div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.fields input,
textarea {
  width: 100%;
  resize: none;
  border-radius: 6px;
  background-color: #f1f1f1;
  border: 1px solid transparent;
}

.fields .descricao {
  margin-top: 8px;
}

.fields div {
  margin-top: 8px;
}

.fields .part-1,
.fields .part-2,
.fields .part-3,
.fields .part-4,
.part-5 {
  display: flex;
  gap: 20px;
}

.fields div {
  flex-basis: 418px;
}

input,
textarea {
  padding: 8px;
}

input:focus:not(input[type="radio"]),
textarea:focus {
  border: 1px solid #002949;
}

.opcional {
  font-size: 12px;
  margin-left: 8px;
  color: #ddd;
  font-style: italic;
}

button {
  margin-top: 20px;
  background-color: #59b6ff;
  color: white;
  padding: 12px 34px;
  border-radius: 8px;
  width: 408px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  transition: 0.2s all;
  cursor: pointer;
}

button:hover {
  background-color: #002949;
  color: white;
}
